<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Siavash Mahmoudian</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="py-3 bg-gray-50 border border-bottom border-gray-200">
      <div class="container mx-auto flex items-center">
        <img
          class="rounded mr-3"
          width="46"
          src="/img/javascript-logo.png"
          alt="JavaScript Logo"
        />
        <h1 class="text-2xl">JavaScript Tutorial</h1>
      </div>
    </header>

    <div class="container mx-auto"><%- body %></div>

    <script src="/js/main.js"></script>
  </body>
</html>
