// Colors
$primary: #10B981
$primary-hover: #059669
$light: #babac0
$light-hover: #a0a0a5
$secondary: #f8f8f8
$pure: #ffffff
$gray: #6b7280
$gray-light: #f3f4f6
$dark: #232323
$border-color: #e5e7eb

// Custom Colors
$blue: #2185d0
$red: #db2828
$black: #1b1c1d
$teal: #00b5ad
$pink: #e03997

// Transition
$smooth: all 0.3s ease

// Scrollbar
::-webkit-scrollbar
  background-color: $secondary
  width: 16px

::-webkit-scrollbar-track
  background-color: $secondary

::-webkit-scrollbar-thumb
  background-color: $light
  border-radius: 16px
  border: 5px solid $secondary

::-webkit-scrollbar-thumb:hover
  background-color: $light-hover
  border: 4px solid $secondary

// Default Settings
body
  color: $dark
  scroll-behavior: smooth
  font-family: 'Lato', sans-serif
  -webkit-font-smoothing: antialiased
  background: $secondary

button,
input
  outline: none !important
hr
  margin: 1.5rem 0
  border: 1px solid $border-color

// Custom Settings
#event
  background: $secondary
