// Button:hover
.btn-blue:hover
  background: $telegram-color
.btn-red:hover
  background: $youtube-color
.btn-gray:hover
  background: $github-color
.btn-twitter:hover
  background: $twitter-color
.btn-pink:hover
  background: $instagram-color

// Button:focus
.btn-blue:focus
  box-shadow: 0 0 0 3px rgba(0, 136, 204, 0.6)
.btn-red:focus
  box-shadow: 0 0 0 3px rgba(196, 48, 43, 0.6)
.btn-gray:focus
  box-shadow: 0 0 0 3px rgba(33, 31, 31, 0.6)
.btn-twitter:focus
  box-shadow: 0 0 0 3px rgba(0, 172, 238, 0.6)
.btn-pink:focus
  box-shadow: 0 0 0 3px rgba(221, 42, 123, 0.6)

// Custom Colors
.border-blue-600
  border-color: $telegram-color
.bg-blue-600
  background-color: $telegram-color
.text-blue-600
  color: $telegram-color
.border-red-600
  border-color: $youtube-color
.bg-red-600
  background-color: $youtube-color
.text-red-600
  color: $youtube-color
.border-gray-600
  border-color: $github-color
.bg-gray-600
  background-color: $github-color
.text-gray-600
  color: $github-color
.border-blue-500
  border-color: $twitter-color
.bg-blue-500
  background-color: $twitter-color
.text-blue-500
  color: $twitter-color
.border-pink-600
  border-color: $instagram-color
.bg-pink-600
  background-color: $instagram-color
.text-pink-600
  color: $instagram-color

// Add to Cart
.add-to-cart
  color: $primary
  border: 2px solid $primary
  transition: $smooth
  &:hover
    color: $pure
    background: $primary

// Amount
.amount
  color: $primary

// Box
.box-shadow
  box-shadow: 0 0 7px 0 #eaeff4
