// Header
#header nav ul
  li
    a
      cursor: pointer
      user-select: none
      transition: $smooth
      &:hover
        color: $primary

    &:last-child a
      font-weight: 600
      color: $pure
      background: $primary
      &:hover
        background: $primary-hover
